.footer {
  position: relative;
  padding: rem(40px) 0 rem(10px) 0;
  background-image: url('../../assets/images/gradient.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: $c-white;

  .footerNoise {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../../assets/images/textures/noise.png');
    background-repeat: repeat;
    mix-blend-mode: overlay;
  }

  @include smallDesktopAndAbove() {
    padding: rem(80px) 0 rem(10px) 0;
  }

  @include isTablet() {
    padding: rem(46px) 0 rem(10px) 0;
  }

  .wrapper {
    position: relative;

    h2 {
      font-size: rem(34px);

      @include isTablet() {
        font-size: rem(36px);
      }

      @include isSmallDesktop() {
        font-size: rem(42px);
      }

      @include isDesktop() {
        font-size: rem(54px);
      }
    }

    .main {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(30px);

      @include tabletAndAbove() {
        margin-bottom: rem(60px);
      }

      .callToAction {
        width: 100%;

        @include tabletAndAbove() {
          width: 50%;
        }

        .buttons {
          display: flex;
          gap: rem(30px);
          align-items: center;
          margin-top: rem(30px);

          .contact {
            @include transitionHover($c-white) {
              color: $c-blue-a5;
            }
          }

          .servicesLink {
            padding-bottom: 4px;
            border-bottom: 1px solid $c-white;

            @include transitionHover {
              color: $c-blue-ff3;
            }
          }
        }

        .features {
          display: flex;
          gap: rem(20px);
          margin-top: rem(30px);
          flex-direction: column;

          @include smallDesktopAndAbove() {
            flex-direction: row;
            margin-top: rem(50px);
          }

          .feature {
            display: flex;
            align-items: center;
            gap: rem(6px);
            font-size: rem(14px);
          }
        }
      }

      .navigations {
        width: 40%;
        display: none;

        @include tabletAndAbove() {
          display: flex;
          gap: rem(70px);
        }

        .internal {
          display: grid;
          padding: 0 !important;
          gap: rem(70px);
          grid-template-columns: repeat(2, 1fr);

          li {
            font-weight: 400;
            &:not(:last-child) {
              margin-bottom: rem(20px);
            }

            a {
              @include transitionHover {
                color: $c-blue-ff3;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .dotted {
    height: 205px;
    width: 100%;
    display: flex;
    font-family: var(--font-disket-mono);
    font-size: rem(14px);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(20px);
    padding-left: rem(80px);
    padding-right: rem(80px);
    padding-top: rem(60px);

    p {
      font-weight: 700;
    }

    @include tabletAndAbove() {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }

    @include isTablet() {
      font-size: rem(12px);
    }

    @include isMobile() {
      height: 500px;
      padding-left: 35px;
      padding-right: 35px;
      padding-top: rem(55px);

      gap: rem(50px);
    }

    .dottedContent {
      @include isMobile() {
        width: 100%;
      }
    }
  }
}
