.button {
  font-family: var(--font-disket-mono);
  background-color: $c-blue-a5;
  padding: rem(14px) rem(30px);
  display: inline-block;
  color: $c-white;
  font-size: rem(14px);
  font-weight: 700;
  letter-spacing: 1.26px;

  &:disabled {
    cursor: not-allowed;
  }

  &.buttonOutline {
    font-size: rem(16px);
    color: $c-blue-a5;
    background-color: $c-white;
    border: 1px solid $c-blue-a5;
    padding: rem(12px) rem(20px);
    letter-spacing: unset;
  }

  &.transparentBg {
    background-color: transparent;
    color: $c-white;
    border: 1px solid $c-white;
  }
}
