.wrapper {
  display: flex;
  gap: rem(60px);
  justify-content: space-between;
}

.sidebar {
  width: calc(20% - 30px);

  @include isMobile {
    display: none;
  }
}

.content {
  width: calc(80% - 30px);

  @include isMobile {
    width: 100%;
  }
}

.image {
  position: relative;
  padding-bottom: rem(160px);

  @include isTablet {
    display: flex;
    justify-content: flex-end;
    padding-bottom: rem(170px);
  }

  @include isMobile {
    padding-bottom: rem(225px);
  }

  .main {
    position: relative;
    display: block;
    width: 100%;
    height: 544px;
    object-fit: cover;

    @include isTablet {
      width: 90%;
      height: 334px;
    }
  }

  .pattern {
    position: absolute;
    left: -44px;
    bottom: 118px;

    @include isTablet {
      left: 5px;
      bottom: 85px;
    }

    @include isMobile {
      display: none;
    }
  }

  .patternMobile {
    position: absolute;
    left: 50%;
    bottom: 46px;
    display: none;
    object-fit: cover;
    margin-left: -676px;

    @include isMobile {
      display: block;
    }
  }
}
