.section {
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(20px);
  row-gap: rem(55px);
}

.block {
  width: 323px;

  @include isTablet {
    width: 221px;
  }

  @include isMobile {
    width: 130px;
  }

  img {
    display: block;
    width: 100%;
    height: 323px;
    object-fit: cover;
    padding-bottom: rem(20px);

    @include isTablet {
      height: 221px;
    }

    @include isMobile {
      height: 130px;
    }
  }

  h6 {
    font-family: var(--font-disket-mono);
    font-weight: 700;
    font-size: rem(20px);
    line-height: rem(22.54px);
    letter-spacing: -2%;
    padding-bottom: 4px;
  }

  p {
    color: $c-gray-30;
  }
}
