.section {
  position: relative;
  display: flex;
  gap: rem(20px);
  flex-wrap: wrap;
  padding-bottom: rem(224px);

  @include isMobile {
    padding-bottom: rem(100px);
  }
}

.block {
  position: relative;
  width: 319px;
  height: 319px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $c-blue-ff2;
  padding: rem(32px) rem(36px) rem(50px);
  background-image: url('../../../../assets/images/gradient.png');
  background-size: cover;

  .noise {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../../../../assets/images/textures/noise.png');
    background-repeat: repeat;
    mix-blend-mode: overlay;
  }

  @include isMobile {
    width: 100%;
    height: 280px;
    padding: rem(25px) rem(30px) rem(30px);
  }

  h6 {
    font-size: rem(27px);
    line-height: rem(27px);
    letter-spacing: -0.03em;
  }

  p {
    font-size: rem(18px);
    line-height: rem(22.68px);
    letter-spacing: 0;
    color: $c-white-ff;
  }
}

.pattern {
  position: absolute;
  right: -90px;
  bottom: 104px;
  width: 363px;
  height: 334px;
  object-fit: none;
  object-position: -20px 5px;

  @include isTablet {
    right: -63px;
    bottom: 175px;
  }

  @include isMobile {
    display: none;
  }
}
