.section {
  padding-top: rem(85px);
  padding-bottom: rem(85px);

  img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 43%;
  }
}

.slogan {
  display: block;
  height: 563px;

  @include isMobile {
    display: none;
  }
}

.sloganMobile {
  display: none;

  @include isMobile {
    display: block;
  }
}