.dotsContainer {
  position: relative;
}

.dotsChild {
  padding: rem(10px);
}

.dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: $c-white;
  z-index: 1;
}

.dotsChildren {
  position: absolute;
  top: 0px;
  width: 100%;
}