.stickyCover {
  position: relative;
  background-color: $c-white-ff;
  height: 111px;
  z-index: 1001;

  @include isMobile {
    height: 81px;
  }
}

.header {
  width: 100%;
  position: absolute;
  color: $c-white;
  z-index: 1000;

  &.whiteBg {
    background-color: $c-white-ff;
    position: sticky;
    top: 0;
    color: $c-gray-30;
    border-bottom: 1px solid $c-blue-ff;
  }

  &.isHome {
    margin-top: -111px;

    @include isMobile {
      margin-top: -81px;
    }
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;

    @include isMobile {
      height: 80px;
    }
  }

  .nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(52px);

      @include isSmallDesktop {
        gap: rem(30px);
      }

      @include isTablet {
        gap: rem(30px);
      }

      @include isMobile {
        display: none;
      }

      li {
        a {
          display: block;

          &.active {
            color: $c-blue-a5;
          }

          &:hover {
            color: $c-blue-a5;
          }

          @include isTablet {
            font-size: rem(14px);
          }
        }
      }
    }
  }

  .contactUs {
    @include transitionHover($c-blue-84);
    @include isTablet {
      font-size: rem(12px);
      padding: rem(12px) rem(16px);
    }

    @include isMobile {
      display: none;
    }
  }
}

.hamburgerBtn {
  display: none;
  align-items: center;
  justify-content: center;

  @include isMobile {
    display: flex;
  }
}

.mobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 rem(16px);

  a {
    display: flex;
  }
}

.mobileMenu {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  display: none;
  scroll-padding-top: 0;
  transition:
    opacity 0.4s ease,
    display 0.4s ease allow-discrete;

  &.open {
    opacity: 1;
    display: block;
  }

  .mobileWrapper {
    position: relative;
    background-image: url('../../assets/images/gradient2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .noise {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: url('../../assets/images/textures/noise.png');
      mix-blend-mode: overlay;
      background-repeat: repeat;
    }

    .mobileNav {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100dvh;
      width: 100vw;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: rem(24px);
        gap: rem(12px);

        li {
          a {
            font-size: 20px;
            color: $c-white;
          }
        }
      }

      .socialMedia {
        min-height: rem(125px);
        justify-content: center;
        display: flex;
        align-items: center;

        > div {
          gap: rem(28px);

          > button {
            background-color: $c-blue-a5;
          }
        }
      }
    }
  }

  @starting-style {
    &.open {
      opacity: 0;
    }
  }
}
