.section {
  padding-bottom: rem(140px);

  @include isTablet {
    padding-bottom: rem(100px);
  }

  @include isMobile {
    padding-bottom: rem(64px);
  }
}

.wrapper {
  position: relative;
}

.title {
  font-size: rem(40px);
  line-height: rem(56px);
  letter-spacing: -0.03em;
  padding-bottom: rem(32px);

  @include isTablet {
    font-size: rem(32px);
    line-height: rem(44.8px);
  }

  @include isMobile {
    font-size: rem(28px);
    line-height: rem(39.2px);
    padding-bottom: rem(24px);
  }
}

.details {
  display: flex;
  gap: rem(28px);
  padding-bottom: rem(32px);

  @include isMobile {
    flex-direction: column;
    gap: rem(16px);
    padding-bottom: rem(24px);
  }
}

.detailItem {
  display: flex;
  flex-direction: column;
  gap: rem(8px);

  &:not(:first-child) {
    border-left: 1px solid $c-blue-a5;
    padding-left: rem(28px);

    @include isMobile {
      border-left: none;
      padding-left: 0;
    }
  }

  span {
    font-size: rem(12px);
    line-height: rem(16.8px);
    color: $c-gray-30;
  }

  p {
    font-size: rem(16px);
    line-height: rem(22.4px);
    font-weight: 500;
  }
}

.description {
  font-size: rem(16px);
  line-height: rem(22.4px);
  max-width: rem(835px);

  @include isMobile {
    font-size: rem(14px);
    line-height: rem(19.6px);
  }
}

.pattern {
  position: absolute;
  right: 0;
  top: rem(30px);
  width: rem(165px);
  height: rem(110px);
  opacity: 0.5;
  pointer-events: none;

  @include isTablet {
    width: rem(130px);
    height: rem(90px);
  }

  @include isMobile {
    width: rem(100px);
    height: rem(70px);
    top: rem(20px);
  }
}
