.section {
  padding: rem(70px) 0;
  border-top: 1px solid $c-blue-ff;

  @include isMobile {
    padding: rem(50px) 0;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 70px;

  @include isMobile {
    flex-direction: column-reverse;
    gap: 0;
  }

  & > div {
    flex: 1;
  }
}

.info {
  @include isMobile {
    flex-direction: column;
    gap: rem(36px);
    padding-bottom: rem(30px);
  }

  h2 {
    font-size: rem(40px);
    line-height: rem(60px);
    letter-spacing: -0.03em;
    padding-bottom: rem(25px);

    @include isMobile {
      width: 100%;
      font-size: rem(28px);
      padding-bottom: rem(5px);
    }
  }

  h3 {
    font-size: rem(16px);
    line-height: rem(24px);
    letter-spacing: 0.3em;
    padding-bottom: rem(10px);
    text-transform: uppercase;
    color: $c-blue-eb;

    @include isMobile {
      width: 100%;
      padding-bottom: rem(5px);
    }
  }

  p {
    font-size: rem(20px);
    line-height: rem(30px);
    letter-spacing: 0;
    color: $c-gray-30;
    padding-bottom: rem(30px);

    @include isMobile {
      width: 100%;
    }
  }
}

.tech {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  margin-right: -1px;
  background: $c-blue-ff;

  @include isMobile {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-right: 0;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $c-white-ff;

    img {
      width: 65%;
      padding: 20% 0;
    }

    @include isMobile {
      img {
      }
    }
  }
}
