.wrapper {
  display: flex;
  justify-content: space-between;
  padding: rem(120px) 0 rem(50px);

  @include isTablet {
    padding: rem(80px) 0 rem(50px);
  }

  @include isMobile {
    flex-direction: column;
    padding: rem(50px) 0 rem(20px);
  }
}

.info {
  flex: 1;
  padding-right: rem(50px);
  overflow: hidden;

  @include isMobile {
    flex-direction: column;
    padding-bottom: rem(30px);
    padding-right: 0;
  }

  h2 {
    font-size: rem(40px);
    line-height: rem(60px);
    letter-spacing: -0.03em;
    padding-bottom: rem(15px);

    @include isMobile {
      font-size: rem(28px);
      width: 100%;
    }
  }

  h3 {
    font-size: rem(16px);
    line-height: rem(24px);
    letter-spacing: 0.3em;
    padding-bottom: rem(15px);
    text-transform: uppercase;
    color: $c-blue-eb;

    @include isMobile {
      width: 100%;
    }
  }

  p {
    flex-shrink: 0;
    font-size: rem(20px);
    line-height: rem(30px);
    letter-spacing: 0;
    color: $c-gray-30;
    padding-bottom: rem(20px);

    @include isMobile {
      width: 100%;
    }
  }

  img {
    width: 100%;
    height: 263px;
    padding: rem(30px) 0;
    object-fit: cover;
    object-position: 0px 0;

    @include isMobile {
      display: none;
    }
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(70px);
  row-gap: rem(120px);
  padding-bottom: rem(50px);

  @include isSmallDesktop {
    column-gap: rem(40px);
  }

  @include isTablet {
    row-gap: rem(60px);
    column-gap: rem(25px);
  }

  @include isMobile {
    row-gap: rem(60px);
  }
}
