.section {
  padding-top: rem(60px);
  padding-bottom: rem(75px);
  background-color: $c-blue-a5;
  color: $c-white;

  @include isTablet {
    padding-bottom: rem(38px);
  }

  @include isMobile {
    padding-top: rem(45px);
    padding-bottom: rem(55px);
  }
}

.header {
  padding-bottom: rem(106px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include isTablet {
    padding-bottom: rem(38px);
  }

  @include isMobile {
    padding-bottom: rem(60px);
  }

  h2 {
    font-size: rem(40px);
    line-height: rem(56px);
    letter-spacing: -0.03em;

    @include isMobile {
      font-weight: 400;
      font-size: rem(28px);
      line-height: rem(39.2px);
      letter-spacing: 0;
      text-align: center;
      width: 100%;
    }
  }

  a {
    @include isMobile {
      display: none;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(70px);
  row-gap: rem(120px);
  margin-bottom: rem(120px);

  @include isTablet {
    row-gap: rem(60px);
    column-gap: rem(40px);
  }

  @include isMobile {
    row-gap: rem(60px);
  }
}
