.hero {
  height: 100vh;
  min-height: 700px;
  color: $c-white;
  background-size: cover;
  background-image: url('../../assets/images/hero.jpg');

  @include isMobile {
    background-position: 46% 0px;
  }

  .wrapper {
    height: 100vh;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    @include isMobile {
      justify-content: center;
    }
  }

  .content {
    width: 630px;
    padding-bottom: rem(141px);

    @include isMobile {
      width: 100%;
      padding: 0;
    }

    h1 {
      padding-bottom: rem(28px);
      font-size: rem(63px);
      line-height: rem(70px);
      letter-spacing: -1.26px;

      @include isTablet {
        font-size: rem(50px);
        line-height: rem(56px);
      }

      @include isMobile {
        font-size: rem(28px);
        line-height: rem(31.92px);
        letter-spacing: -0.02em;
        padding-bottom: rem(20px);
      }
    }

    p {
      padding-bottom: rem(49px);
      font-size: rem(20px);
      line-height: 150%;

      @include isMobile {
        padding-bottom: rem(25px);
        font-size: rem(14px);
      }
    }

    .footer {
      display: flex;
      align-items: center;
      gap: rem(49px);

      .getInTouch {
        @include transitionHover($c-white) {
          color: $c-blue-a5;
        }
      }

      @include isMobile {
        flex-direction: column;
        justify-content: center;
        gap: rem(20px);

        a {
          display: block;
          width: 100%;
          text-align: center;
        }
      }

      .ourServices {
        text-decoration: underline;
        text-decoration-thickness: 5%;
        text-underline-offset: 25%;
      }

      @include transitionHover {
        color: $c-blue-ff3;
      }
    }
  }

  .infoBox {
    position: absolute;
    right: 0;
    bottom: 141px;
    width: 392px;
    height: 152px;
    background: rgba(0, 102, 230, 0.49);
    backdrop-filter: blur(17.5px);
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .link {
      display: flex;
      gap: rem(20px);
      padding-left: rem(33px);
      padding-bottom: rem(26px);

      span {
        color: $c-white;
        line-height: rem(21px);
        text-decoration: underline;
        text-underline-offset: 25%;
        text-decoration-thickness: 5%;
        text-underline-position: from-font;
        display: block;
      }
    }

    img {
      height: 152px;
      object-fit: cover;
    }
  }

  .project {
    position: absolute;
    display: block;
    right: 0;
    bottom: 80px;
    width: 400px;
    height: 150px;
    background: rgba($c-blue-e6, 0.5);
    backdrop-filter: blur(25px);
    color: white;
    border-radius: 6px;
    overflow: hidden;

    .projectText {
      position: absolute;
      left: 30px;
      bottom: 30px;
      text-decoration: underline;
      text-decoration-thickness: 5%;
      text-underline-offset: 25%;

      svg {
        position: absolute;
        top: -3px;
        right: -30px;
      }
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border-radius: 6px;
    }

    @include isMobile {
      width: 281px;
      height: 110px;
      left: 50%;
      right: 50%;
      bottom: -70px;
      transform: translate(-50%);
    }
  }
}
