.section {
  background-color: $c-blue-a5;
  background-image: url('../../../../../assets/images/textures/noise.png');
  background-repeat: repeat;
  background-blend-mode: overlay;
  color: $c-blue-ff3;
  padding: rem(25px) 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: rem(50px);

  @include isTablet {
    padding-bottom: rem(40px);
  }

  @include isMobile {
    flex-direction: column;
    padding-bottom: rem(20px);
  }

  div {
    flex-grow: 1;
  }

  h2 {
    font-size: rem(40px);
    line-height: rem(60px);
    letter-spacing: -0.03em;

    @include isMobile {
      width: 100%;
    }
  }

  h3 {
    font-size: rem(16px);
    line-height: rem(24px);
    letter-spacing: 0.3em;
    padding-bottom: rem(20px);
    text-transform: uppercase;
    color: $c-blue-eb;

    @include isMobile {
      width: 100%;
      padding-bottom: rem(10px);
    }
  }

  p {
    padding-top: rem(25px);
    font-size: rem(20px);
    line-height: rem(30px);

    @include isMobile {
      width: 100%;
      padding: rem(10px) 0;
    }
  }
}

.dots {
  width: 100%;

  @include isMobile {
    width: 100%;
    object-fit: cover;
    height: 270px;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding-top: rem(50px);

  @include isTablet {
    padding-top: rem(40px);
  }

  @include isMobile {
    grid-template-columns: repeat(1, 1fr);
    padding-top: rem(20px);
  }
}

.item {
  position: relative;
  width: 100%;
  border-left: 1px solid $c-blue-e6;

  &:first-child {
    border: none;
  }

  @include isMobile {
    border-left: none;
    border-top: 1px solid $c-blue-e6;
  }

  div {
    width: 100%;
    padding: 0 15%;

    @include isSmallDesktop {
      padding: 0 12%;
    }

    @include isTablet {
      padding: 0 10%;
    }

    @include isMobile {
      padding: rem(20px) 0;
    }
  }

  &:first-child div {
    border: none;
    padding-left: 0;
  }

  &:last-child div {
    border: none;
    padding-right: 0;
  }

  h5 {
    font-size: rem(20px);
    padding-bottom: rem(15px);

    @include isTablet {
      line-height: rem(30px);
    }

    @include isMobile {
      line-height: rem(35px);
    }
  }
}
