$t-base-font-size: 16px;

$c-blue-a5: #003da5;
$c-blue-ff: #c9ddff;
$c-blue-ff2: #c7ecff;
$c-blue-e3: #abbfe3;
$c-white: #ffffff;
$c-white-ff: #fafdff;
$c-gray-30: #303030;
$c-gray-b4: #b4b4b4;
$c-black-30: #303030;
