$t-base-font-size: 16px;

$c-blue-a5: #003da5;
$c-blue-ff: #c9ddff;
$c-blue-ff2: #c7ecff;
$c-blue-ff3: #b9e7ff;
$c-blue-e3: #abbfe3;
$c-blue-eb: #3385eb;
$c-blue-e6: #0066e6;
$c-blue-f9: #0071f9;
$c-blue-84: #003184;
$c-white: #ffffff;
$c-white-ff: #fafdff;
$c-gray-30: #303030;
$c-gray-b4: #b4b4b4;
$c-black-30: #303030;
