.testimonial {
  display: flex;
  flex-direction: column;
  gap: rem(20px);

  .order {
    width: 100%;
    display: flex;
    align-items: center;
    gap: rem(40px);

    span {
      display: inline-block;
      height: 1px;
      width: 100%;
      background-color: $c-blue-a5;
    }
  }
}
.text {
  color: $c-black-30;
}
.personName {
  color: $c-blue-a5;
}
